.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 0 10rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 0 1rem;
  margin-left: 2rem;
}

a {
  font-weight: 500;
  display: inline-block;
}

h4 {
  font-size: 1.2rem;
}

.background-green,
.background-purple,
.background-yellow,
.background-red {
  min-height: 90vh;
  color: white;
  display: grid;
  place-content: center;
}

.background-green {
  background: linear-gradient(90deg, #11998e, #38ef7d);
}

.background-purple {
  background: linear-gradient(90deg, #c94b4b, #4b134f);
}

.background-yellow {
  background: linear-gradient(90deg, #22c1c3, #fdbb2d);
}

.background-red {
  background: linear-gradient(90deg, #cb356b, #bd3f32);
}
